* {
  margin: 0;
  padding: 0;
}
.title {
  color: #000;
  font-family: "Font/Heebo-Black.ttf", sans-serif;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 15px;
}
.productSection {
  display: flex;
  flex-wrap: wrap;
  margin: 0 25%;
}
.productList {
  margin: 2%;
}
.productList .productImage {
  width: 270px;
  height: 270px;
  flex-shrink: 0;
  background: #ebebeb;
  display: flex;
  justify-content: center;
  align-items: center;
}
.productList .productImage .image {
  width: 260px;
  height: 260px;
}
.productList .productProps .productTitle {
  color: #000;
  font-family: "Font/Heebo-Black.ttf", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.productList .productProps .productQuantity {
  color: #b9b9b9;
  font-family: "Font/Heebo-Black.ttf", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.productList .productProps .quantitySection {
  display: flex;
  align-items: center;
}
.productList .productProps .quantitySection .iconStock {
  margin-left: 5px;
}
.productList .productProps .productPrice {
  color: #000;
  font-family: "Font/Heebo-Black.ttf", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
