.login {
  margin: 0;
  padding: 0;
}
.login-field {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.title-login {
  color: #000;
  font-family: "Font/Heebo-Black.ttf", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.login-content {
  border: 1px solid #939393;
  background: rgba(235, 235, 235, 0.6);
  display: flex;
  flex-direction: column;
  width: 506px;
  height: 340px;
  flex-shrink: 0;
  margin-top: 2%;
}
.login-content p {
  color: #000;
  font-family: "Font/Heebo-Black.ttf", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0 5%;
  margin-top: 7%;
  margin-bottom: 1%;
}
.login-content .login-field {
  border: 1px solid #939393;
  background: #d9d9d9;
  margin: 0 5%;
  height: 6%;
  width: 85%;
  font-size: 25px;
  padding-left: 10px;
}
.login-content .error-login {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.login-content .login-button {
  border: 1px solid #e6e6e9;
  background: #333533;
  color: #fff;
  text-align: center;
  font-family: "Font/Heebo-Black.ttf", sans-serif;
  font-size: 20px;
  height: 50px;
  width: 40%;
  margin: 0 150px;
  margin-top: 40px;
  cursor: pointer;
}
.error-message {
  color: red;
  margin: 0 5%;
  height: 0;
  font-family: "Font/Heebo-Black.ttf", sans-serif;
  margin-right: 10%;
}
.loginPage{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}
.loginPage-Container{
  margin-top: 50px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  border: 1px solid #939393;
  background: rgba(235, 235, 235, 0.60);
  width: 25%;
}
.loginPage-userLogo-Container{
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 200px;
  background: #EBEBEB;
  border-radius: 100%;
}
.loginPage-userLogo{
  font-size: 8.5rem;
  color: #828282;
}
.loginPage-userName-container{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  gap: 5px;
  margin: 15px 0 ;
  margin-top: 0;
}
.loginPage-userName-container p{
  color: #000;
  font-family: "Font/Heebo-Black.ttf", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}
.loginPage-user-modifyButton{
  background: none;
  border: none;
  cursor: pointer;
}
.loginPage-userEmail-container{
  display: flex;
  flex-flow: column nowrap;
  gap: 5px;
  margin: 15px 0 ;
  color: #000;
  font-family: "Font/Heebo-Black.ttf", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.loginPage-logoutButoon{
  padding: 0 15px;
  margin-top: 5px;
  height: 50px;
  flex-shrink: 0;
  border: 1px solid #E6E6E9;
  background: #333533;
  color: #FFF;
  text-align: center;
  font-family: "Font/Heebo-Black.ttf", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
  margin-bottom: 30px;
}
.loginPage-userEmail-input {
  border: 1px solid #939393;
  background: #d9d9d9;
  width: 85%;
  font-size: 20px;
  padding-left: 10px;
  pointer-events: none;
}
.loginPage-userEmail-input-noReadonly{
  border: 1px solid #939393;
  background: #d9d9d9;
  font-size: 20px;
  padding-left: 10px;
  pointer-events: fill;
}
.loginPage-EmailField{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  gap: 5px;
}
.loginPage-EmailField-Modify{
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  gap: 5px;
}
.loginPage-SaveAndModifyButton{
  display: flex;
  justify-content: space-between;
  gap: 5px;
  flex-flow: row nowrap;
}
.loginPage-SaveAndModifyButton button{
  margin-top: 5px;
  padding: 5px 5px;
  flex-shrink: 0;
  border: 1px solid #E6E6E9;
  background: #333533;
  color: #FFF;
  text-align: center;
  font-family: "Font/Heebo-Black.ttf", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
}
.loginPage-ModifyPasswordButton{
  margin-top: 5px;
  height: 50px;
  flex-shrink: 0;
  border: 1px solid #E6E6E9;
  background: #333533;
  color: #FFF;
  text-align: center;
  font-family: "Font/Heebo-Black.ttf", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
  margin-bottom: 5px;
  padding: 10px 10px;
}
