*{
    margin: 0;
    padding: 0;
}
section{
    display: flex;
    margin: 0 20%;
}
.productList{
    margin: 2%;
}
.productList .productImage{
    width: 270px;
    height: 270px;
    flex-shrink: 0;
    background: #EBEBEB;
}
.productList .productProps .productTitle{
    color: #000;
    font-family: "Font/Heebo-Black.ttf" sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.productList .productProps .productQuantity{
    color: #B9B9B9;
    font-family: "Font/Heebo-Black.ttf" sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.productList .productProps .productPrice {
    color: #000;
    font-family: "Font/Heebo-Black.ttf" sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}