* {
  margin: 0;
  padding: 0;
}
section {
  display: flex;
  flex-wrap: wrap;
  margin: 50px 28%;
}
.product {
  display: flex;
}
.product .productImage {
  width: 500px;
  height: 500px;
  flex-shrink: 0;
  background: #ebebeb;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #b1b1b1;
}
.product .productImage .image {
  width: 500px;
  height: 500px;
}
.product .detailProduct {
  margin-left: 60px;
}
.product .detailProduct .titleProduct {
  color: #000;
  font-family: "Font/Heebo-Black.ttf" sans-serif;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.product .detailProduct .iconStar {
  width: 28px;
  height: 28px;
  flex-shrink: 0;
  color: #f9c00c;
}
.product .detailProduct .quantityDetails {
  display: flex;
  align-items: center;
}
.product .detailProduct .quantityDetails .quantityText {
  color: #b9b9b9;
  font-family: "Font/Heebo-Black.ttf" sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.product .detailProduct .quantityDetails .iconStock {
  margin-left: 5px;
}
.product .detailProduct .productPrice {
  color: #000;
  font-family: "Font/Heebo-Black.ttf" sans-serif;
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.product .detailProduct .buttonCart {
  border: 1px solid #e6e6e9;
  background: #333533;
  color: #fff;
  text-align: center;
  font-family: "Font/Heebo-Black.ttf" sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 120px;
  height: 50px;
  cursor: pointer;
}
.product .detailProduct .bottomProductDetails {
  display: flex;
  justify-content: space-between;
}
.product .detailProduct .quantityChoise {
  width: 91px;
  height: 35px;
  flex-shrink: 0;
  display: flex;
  align-self: flex-end;
}
.product .detailProduct .quantityChoise .decremanteButton {
  width: 33%;
  border: 1px solid #e6e6e9;
  background: #fff;
  border-right: none;
  cursor: pointer;
  color: #000;
  text-align: center;
  font-family: "Font/Heebo-Black.ttf" sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.product .detailProduct .quantityChoise .incremanteButton {
  width: 33%;
  border: 1px solid #e6e6e9;
  background: #fff;
  border-left: none;
  cursor: pointer;
  color: #000;
  text-align: center;
  font-family: "Font/Heebo-Black.ttf" sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.product .detailProduct .quantityChoise input {
  width: 33%;
  border: 1px solid #e6e6e9;
  background: #fff;
  border-left: none;
  border-right: none;
  outline: none;
  text-align: center;
  color: #000;
  text-align: center;
  font-family: "Font/Heebo-Black.ttf" sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.product .detailProduct .descriptionProduct {
  margin-top: 10px;
}
.product .detailProduct .descriptionProduct .descriptionContenair {
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid #e6e6e9;
}
.product
  .detailProduct
  .descriptionProduct
  .descriptionContenair
  .descriptionSubContenair {
  display: flex;
  justify-content: space-between;
  border: 2px solid #e6e6e9;
  background: #fff;
  border-bottom: none;
  flex-wrap: wrap;
}
.product
  .detailProduct
  .descriptionProduct
  .descriptionContenair
  .descriptionSubContenair
  .descriptionButton {
  cursor: pointer;
  color: #000;
  text-align: center;
  font-family: "Font/Heebo-Black.ttf" sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: none;
  background: #fff;
  margin: 0 11px;
}
.product
  .detailProduct
  .descriptionProduct
  .descriptionContenair
  .descriptionSubContenair
  .descriptionTitle {
  color: #000;
  font-family: "Font/Heebo-Black.ttf" sans-serif;
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.product
  .detailProduct
  .descriptionProduct
  .descriptionContenair
  .descriptionSubContenair
  .descriptionText {
  color: #818181;
  font-family: "Font/Heebo-Black.ttf" sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-top: 2px solid #e6e6e9;
}
hr {
  margin: 0 28%;
  border: 0.1px solid #939393;
  border-radius: 5%;
  height: 0.1px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
