.header-mobile {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  background: #fff;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 100;
  border-bottom: 1px solid #aaa;
}
.header-mobile .logo-site {
  height: 50px;
  width: 50px;
}
.header-tablette {
  display: none;
}
.header-computer {
  display: none;
}
.menu-button {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 0 20px;
}
.all-sidemenu {
  background-color: rgba(0, 0, 0, 0.401);
  position: fixed;
  top: 0;
  left: -100%;
  width: 100vw;
  height: 100vh;
  z-index: 101;
  transition: left 0.5s linear;
}
.all-sidemenu.active {
  left: 0;
  transition: left 0.3s linear;
  transition-delay: 0.2s;
}
.sidebar {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: -100%;
  width: 80vw;
  height: 100vh;
  background: #ffffff;
  overflow: hidden;
  transition: left 0.5s linear;
  transition-delay: 0.1s;
  z-index: 1001;
}
.sidebar.active {
  left: 0;
  transition: left 0.5s linear;
}
.close-button {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 10px;
  z-index: 1002;
}
.title-navbar {
  display: flex;
  padding-top: 20px;
  padding-bottom: 21px;
  justify-content: center;
  font-family: "Font/Heebo-Black.ttf", sans-serif;
  color: #000;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-bottom: 1px solid #aaa;
}
.main-page{
  text-decoration: none;
}
.category-navbar {
  color: #000;
  font-family: "Font/Heebo-Black.ttf", sans-serif;
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-left: 15px;
  padding-right: 100px;
  margin-top: 15px;
  cursor: pointer;
}
.menu-category .list-hidden {
  height: 0;
  transition: height 0.3s linear;
  padding-left: 60px;
  overflow: hidden;
}
.menu-category .list-hidden li {
  list-style-type: disc;
  color: #000;
  font-family: "Font/Heebo-Black.ttf", sans-serif;
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.menu-category .list-visible li {
  list-style-type: disc;
  color: #000;
  font-family: "Font/Heebo-Black.ttf", sans-serif;
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.list-visible {
  padding-left: 60px;
  overflow: hidden;
  height: 70px;
  transition: height 0.3s linear;
}
.bottom-icons {
  display: flex;
  justify-content: space-between;
  font-size: 1.8rem;
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
}
.bottom-icons a {
  margin: 0 5px;
  text-decoration: none;
  color: #000;
  cursor: pointer;
}
.fa-heart,
.fa-shopping-cart,
.fa-user {
  margin: 0 10px;
}
@media (min-width: 600px) {
  .menu-button {
    font-size: 2.2rem;
  }
  .header-mobile .logo-site {
    height: 64px;
    width: 64px;
  }
  .title-navbar {
    font-size: 2.3rem;
    padding-bottom: 22px;
  }
  .close-button {
    font-size: 2.2rem;
  }
  .main-page{
    text-decoration: none;
  }
  .menu-category .list-visible li {
    font-size: 1.6rem;
  }
  .menu-category .list-hidden li {
    font-size: 1.6rem;
  }
  .category-navbar {
    font-size: 1.8rem;
  }
  .list-visible {
    height: 120px;
  }
  .bottom-icons {
    font-size: 2.5rem;
  }
  .bottom-icons a {
    margin: 0 20px;
  }
  .sidebar {
    width: 85vw;
  }
}
@media (min-width: 768px) {
  .header-mobile {
    display: none;
  }
  .header-tablette {
    display: contents;
  }
  .header-tablette .upper-navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #aaa;
  }
  .header-tablette .logo-contenair {
    width: 162px;
  }
  .header-tablette .logo-contenair .logo-site {
    margin: 0 15px;
    height: 55px;
    width: 55px;
  }
  .title-navbar {
    font-size: 1.5rem;
    border: none;
  }
  .main-page{
    text-decoration: none;
  }
  .icon-tablette a {
    font-size: 1.3rem;
    margin: 10px;
    text-decoration: none;
    color: black;
  }
  .menu-button {
    font-size: 1.1rem;
  }
  .lower-navbar-contenair {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 15px 20px;
  }
  .category-navbar {
    color: #000;
    font-family: "Font/Heebo-Black.ttf", sans-serif;
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
    position: relative;
    display: flex;
    margin-top: 0;
    align-items: center;
  }
  .list-hidden {
    position: absolute;
    height: 0;
    transition: height 0.3s linear;
    padding-left: 60px;
    overflow: hidden;
  }
  .list-hidden li {
    list-style-type: disc;
    color: #000;
    font-family: "Font/Heebo-Black.ttf", sans-serif;
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .list-visible li {
    list-style-type: disc;
    color: #000;
    font-family: "Font/Heebo-Black.ttf", sans-serif;
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .list-visible {
    position: absolute;
    padding-left: 60px;
    overflow: hidden;
    height: 70px;
    transition: height 0.3s linear;
  }
}
@media (min-width: 992px) {
  .header-mobile {
    display: none;
  }
  .header-tablette {
    display: none;
  }
  .header-computer {
    display: contents;
  }
  .upper-navbar-computer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #aaa;
    padding: 0 25px;
  }
  .title-navbar {
    font-size: 1.4rem;
    border: none;
    padding: 5px 0px;
  }
  .main-page{
    text-decoration: none;
  }
  .icons-computer a {
    font-size: 1.3rem;
    margin: 10px;
    text-decoration: none;
    color: black;
  }
  .lower-navbar-computer-contenair {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px 30px;
    border-bottom: 1px solid #aaa;
  }
  .lower-navbar-computer-category {
    display: flex;
    flex-direction: row;
  }
  .logo-site {
    height: 64px;
    width: 64px;
    margin-left: 30px;
  }
  .category-navbar {
    color: #000;
    font-family: "Font/Heebo-Black.ttf", sans-serif;
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 0 3vw;
    cursor: pointer;
    position: relative;
    display: flex;
    margin-top: 0;
    align-items: center;
  }
  .searshBar-contenaire {
    display: flex;
    align-items: center;
  }
  .searshIcon {
    position: absolute;
    right: 35px;
    color: #939393;
  }
  .searshBar {
    border: 1px solid #939393;
    background: #f4f4f6;
    width: 150px;
    height: 30px;
    flex-shrink: 0;
    font-size: 1.2rem;
    padding-left: 5px;
  }
  .messageofday {
    background: #333533;
    display: flex;
    height: 30px;
    justify-content: center;
    align-items: center;
  }
  .message {
    color: #f4f4f6;
    font-family: "Font/Heebo-Black.ttf", sans-serif;
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}
